@import "./about.scss";
.center {
  margin-top: 20%;
}

body {
  background: url("../картинки/20.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Oswald", sans-serif;
}

.home {
  &_scrollmenu {
    @extend .about_scrollmenu;

    a {
      color: white;
    }
  }
}
.text {
  top: 50%;
}
