.scrollmenu {
    overflow: auto;
    text-align: right;
}

.scrollmenu a {
    display: inline-block;
    color:black;
    text-align: right ;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu a:hover {
    text-align: right;
    text-decoration: underline;
    background-color: #4CAF50;
}


.team-container{
padding: 0 300px;
background: #FBFBFB;
padding-top: 129px;
padding-bottom: 129px;
font-family: 'Oswald', sans-serif;
}

.team-header_title{
    font-family: 'Oswald', sans-serif;
font-style: normal;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.072px;
}
.team-header_line{
background-color: black;
width: 45px;
height: 2px;
}
.team-cards{
    display: flex;
    justify-content: center;
    column-gap: 28px;
    margin-top: 65px;
}
.team-card1{
    position: relative;
    background-image: url('../картинки/team1.png');
    width: 370px;
    height: 398px;
}

.team-card2{
    position: relative;
    background-image: url('../картинки/team2.png');
    width: 370px;
    height: 398px;
}

.team-card3{
    position: relative;
    background-image: url('../картинки/team3.png');
    width: 370px;
    height: 398px;
}
.team-card_text_container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}
.team-card_text_container2{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}
.team-card_name{
    font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
white-space: nowrap;
}
.team-card_text{
    background: #FFFFFF;
    opacity: 0.5;
    padding: 15px 112px;
    width: 100%;
}
.team-card_text2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    opacity: 0.92;
    padding: 15px 112px;width: 100%;
}
.team-card_job{
    font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
/* identical to box height */

display: flex;
align-items: flex-end;

color: #252525;
margin-top: 6px;
}

.team-card_desc{
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 25px;
/* identical to box height, or 208% */

display: flex;
align-items: center;
text-align: center;
white-space: nowrap;
margin-top: 12px;

color: #777777;
}
.evq-mb{
    margin-top: 8px;
}